.layout {
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #26282b;
  h1 {
    color: #d8d8d8;
    margin-bottom: 0;
  }
  a {
    margin: 0 10px;
  }
}
